@font-face
  font-family: '<%= fontName %>'
  font-style: normal
  font-weight: normal
  src: url('./fonts/<%= fontName %>.eot')
  src: url('./fonts/<%= fontName %>.eot?#iefix') format('embedded-opentype'),
       url('./fonts/<%= fontName %>.woff2') format('woff2'),
       url('./fonts/<%= fontName %>.woff') format('woff'),
       url('./fonts/<%= fontName %>.ttf') format('truetype'),
       url('./fonts/<%= fontName %>.svg?#<%= fontName %>') format('svg')

.icon
  display: inline-block
  font-family: '<%= fontName %>' !important
  font-stretch: normal
  font-style: normal
  font-variant: normal
  font-weight: normal
  speak: none
  text-transform: none
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
<% _.each(glyphs, function(g) { %>
.icon-<%= g.name %>:before
  content: '\<%= g.unicode %>'
<% }) %>
