@font-face
  font-family: 'tb-icons'
  font-style: normal
  font-weight: normal
  src: url('../fonts/tb-icons.eot')
  src: url('../fonts/tb-icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tb-icons.woff2') format('woff2'),
       url('../fonts/tb-icons.woff') format('woff'),
       url('../fonts/tb-icons.ttf') format('truetype'),
       url('../fonts/tb-icons.svg?#tb-icons') format('svg')

.icon
  display: inline-block
  font-family: 'tb-icons' !important
  font-stretch: normal
  font-style: normal
  font-variant: normal
  font-weight: normal
  speak: none
  text-transform: none
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-activities-trend:before
  content: '\EA01'

.icon-add-stage:before
  content: '\EA02'

.icon-add-user:before
  content: '\EA03'

.icon-alert-clock:before
  content: '\EA04'

.icon-align-center:before
  content: '\EA05'

.icon-align-left:before
  content: '\EA06'

.icon-align-right:before
  content: '\EA07'

.icon-archive:before
  content: '\EA08'

.icon-arrange:before
  content: '\EA09'

.icon-arrow-down:before
  content: '\EA0A'

.icon-arrow-left:before
  content: '\EA0B'

.icon-arrow-right:before
  content: '\EA0C'

.icon-arrow-up:before
  content: '\EA0D'

.icon-at:before
  content: '\EA0E'

.icon-board:before
  content: '\EA0F'

.icon-bold:before
  content: '\EA10'

.icon-book:before
  content: '\EA11'

.icon-bookkeeping-logo:before
  content: '\EA12'

.icon-bookkeeping:before
  content: '\EA13'

.icon-boxicon:before
  content: '\EA14'

.icon-briefcase:before
  content: '\EA15'

.icon-building:before
  content: '\EA16'

.icon-bulb:before
  content: '\EA17'

.icon-bus:before
  content: '\EA18'

.icon-calculator:before
  content: '\EA19'

.icon-calendar:before
  content: '\EA1A'

.icon-calendar2:before
  content: '\EA1B'

.icon-calendar3:before
  content: '\EA1C'

.icon-camera:before
  content: '\EA1D'

.icon-caret:before
  content: '\EA1E'

.icon-chain:before
  content: '\EA1F'

.icon-chat-create:before
  content: '\EA20'

.icon-chat-group:before
  content: '\EA21'

.icon-chat-private:before
  content: '\EA22'

.icon-checkbox-checked:before
  content: '\EA23'

.icon-checkbox-ios-checked:before
  content: '\EA24'

.icon-checkbox:before
  content: '\EA25'

.icon-chevron-down:before
  content: '\EA26'

.icon-chevron-left:before
  content: '\EA27'

.icon-chevron-right:before
  content: '\EA28'

.icon-chevron-up:before
  content: '\EA29'

.icon-circle-arrow-down-o:before
  content: '\EA2A'

.icon-circle-arrow-down:before
  content: '\EA2B'

.icon-circle-arrow-left-o:before
  content: '\EA2C'

.icon-circle-arrow-left:before
  content: '\EA2D'

.icon-circle-arrow-right-o:before
  content: '\EA2E'

.icon-circle-arrow-right:before
  content: '\EA2F'

.icon-circle-arrow-up-o:before
  content: '\EA30'

.icon-circle-arrow-up:before
  content: '\EA31'

.icon-circle-check-o:before
  content: '\EA32'

.icon-circle-check:before
  content: '\EA33'

.icon-circle-chevron-down-o:before
  content: '\EA34'

.icon-circle-chevron-down:before
  content: '\EA35'

.icon-circle-chevron-left-o:before
  content: '\EA36'

.icon-circle-chevron-left:before
  content: '\EA37'

.icon-circle-chevron-right-o:before
  content: '\EA38'

.icon-circle-chevron-right:before
  content: '\EA39'

.icon-circle-chevron-up-o:before
  content: '\EA3A'

.icon-circle-chevron-up:before
  content: '\EA3B'

.icon-circle-cross-thin:before
  content: '\EA3C'

.icon-circle-cross:before
  content: '\EA3D'

.icon-circle-down:before
  content: '\EA3E'

.icon-circle-error-o:before
  content: '\EA3F'

.icon-circle-error:before
  content: '\EA40'

.icon-circle-info-o-bold:before
  content: '\EA41'

.icon-circle-info-o:before
  content: '\EA42'

.icon-circle-info:before
  content: '\EA43'

.icon-circle-left:before
  content: '\EA44'

.icon-circle-left2:before
  content: '\EA45'

.icon-circle-more:before
  content: '\EA46'

.icon-circle-plus-o:before
  content: '\EA47'

.icon-circle-plus:before
  content: '\EA48'

.icon-circle-question-o:before
  content: '\EA49'

.icon-circle-question:before
  content: '\EA4A'

.icon-circle-remove:before
  content: '\EA4B'

.icon-circle-right:before
  content: '\EA4C'

.icon-circle-right2:before
  content: '\EA4D'

.icon-circle-user-o:before
  content: '\EA4E'

.icon-circle-user:before
  content: '\EA4F'

.icon-circle:before
  content: '\EA50'

.icon-clock:before
  content: '\EA51'

.icon-cog:before
  content: '\EA52'

.icon-collapse:before
  content: '\EA53'

.icon-collection:before
  content: '\EA54'

.icon-comment-line:before
  content: '\EA55'

.icon-comment:before
  content: '\EA56'

.icon-comments:before
  content: '\EA57'

.icon-commit-thin:before
  content: '\EA58'

.icon-commit:before
  content: '\EA59'

.icon-compass:before
  content: '\EA5A'

.icon-computer:before
  content: '\EA5B'

.icon-config:before
  content: '\EA5C'

.icon-convert:before
  content: '\EA5D'

.icon-copy-project:before
  content: '\EA5E'

.icon-copy-task:before
  content: '\EA5F'

.icon-copy:before
  content: '\EA60'

.icon-crop:before
  content: '\EA61'

.icon-crown:before
  content: '\EA62'

.icon-dashed-right:before
  content: '\EA63'

.icon-dig-line:before
  content: '\EA64'

.icon-dig:before
  content: '\EA65'

.icon-dingding:before
  content: '\EA66'

.icon-douban:before
  content: '\EA67'

.icon-download:before
  content: '\EA68'

.icon-dribbble:before
  content: '\EA69'

.icon-dropbox:before
  content: '\EA6A'

.icon-earth:before
  content: '\EA6B'

.icon-emoji:before
  content: '\EA6C'

.icon-end-date:before
  content: '\EA6D'

.icon-envelope:before
  content: '\EA6E'

.icon-evernote:before
  content: '\EA6F'

.icon-eye:before
  content: '\EA70'

.icon-facebook:before
  content: '\EA71'

.icon-favorite:before
  content: '\EA72'

.icon-file-move:before
  content: '\EA73'

.icon-file-move2:before
  content: '\EA74'

.icon-file-update:before
  content: '\EA75'

.icon-file:before
  content: '\EA76'

.icon-file2:before
  content: '\EA77'

.icon-file3:before
  content: '\EA78'

.icon-file4:before
  content: '\EA79'

.icon-fill:before
  content: '\EA7A'

.icon-flag:before
  content: '\EA7B'

.icon-focus:before
  content: '\EA7C'

.icon-folder:before
  content: '\EA7D'

.icon-full-screen-quit:before
  content: '\EA7E'

.icon-full-screen:before
  content: '\EA7F'

.icon-git-commit:before
  content: '\EA80'

.icon-git-fork:before
  content: '\EA81'

.icon-git-issue:before
  content: '\EA82'

.icon-git-pull-request:before
  content: '\EA83'

.icon-github:before
  content: '\EA84'

.icon-globe:before
  content: '\EA85'

.icon-google:before
  content: '\EA86'

.icon-graph:before
  content: '\EA87'

.icon-heading:before
  content: '\EA88'

.icon-help:before
  content: '\EA89'

.icon-home:before
  content: '\EA8A'

.icon-horizontal:before
  content: '\EA8B'

.icon-human:before
  content: '\EA8C'

.icon-image:before
  content: '\EA8D'

.icon-import-project:before
  content: '\EA8E'

.icon-inbox:before
  content: '\EA8F'

.icon-income:before
  content: '\EA90'

.icon-indent:before
  content: '\EA91'

.icon-info-single:before
  content: '\EA92'

.icon-info:before
  content: '\EA93'

.icon-intelligence:before
  content: '\EA94'

.icon-intro:before
  content: '\EA95'

.icon-italic:before
  content: '\EA96'

.icon-jinshuju:before
  content: '\EA97'

.icon-jump:before
  content: '\EA98'

.icon-leave-state:before
  content: '\EA99'

.icon-leave:before
  content: '\EA9A'

.icon-lightning:before
  content: '\EA9B'

.icon-link:before
  content: '\EA9C'

.icon-link2:before
  content: '\EA9D'

.icon-linkedin:before
  content: '\EA9E'

.icon-loading:before
  content: '\EA9F'

.icon-location:before
  content: '\EAA0'

.icon-lock:before
  content: '\EAA1'

.icon-loudspeaker:before
  content: '\EAA2'

.icon-mail:before
  content: '\EAA3'

.icon-mark-as-read:before
  content: '\EAA4'

.icon-meal:before
  content: '\EAA5'

.icon-medal:before
  content: '\EAA6'

.icon-members:before
  content: '\EAA7'

.icon-menu-vertical:before
  content: '\EAA8'

.icon-menu:before
  content: '\EAA9'

.icon-mobile:before
  content: '\EAAA'

.icon-more-stroke:before
  content: '\EAAB'

.icon-more:before
  content: '\EAAC'

.icon-move-file:before
  content: '\EAAD'

.icon-move-task:before
  content: '\EAAE'

.icon-move:before
  content: '\EAAF'

.icon-mute:before
  content: '\EAB0'

.icon-netease:before
  content: '\EAB1'

.icon-new-schedule:before
  content: '\EAB2'

.icon-new:before
  content: '\EAB3'

.icon-normal-text:before
  content: '\EAB4'

.icon-normal:before
  content: '\EAB5'

.icon-notebook:before
  content: '\EAB6'

.icon-ol:before
  content: '\EAB7'

.icon-order-a:before
  content: '\EAB8'

.icon-order-desc:before
  content: '\EAB9'

.icon-ordered-list:before
  content: '\EABA'

.icon-org-apps:before
  content: '\EABB'

.icon-org-atom:before
  content: '\EABC'

.icon-org-avatar:before
  content: '\EABD'

.icon-org-book:before
  content: '\EABE'

.icon-org-building:before
  content: '\EABF'

.icon-org-calendar:before
  content: '\EAC0'

.icon-org-checkbox-checked:before
  content: '\EAC1'

.icon-org-chevron-down:before
  content: '\EAC2'

.icon-org-chevron-right:before
  content: '\EAC3'

.icon-org-circle-down:before
  content: '\EAC4'

.icon-org-circle-up:before
  content: '\EAC5'

.icon-org-crown:before
  content: '\EAC6'

.icon-org-direct-message:before
  content: '\EAC7'

.icon-org-dress:before
  content: '\EAC8'

.icon-org-eye:before
  content: '\EAC9'

.icon-org-lock:before
  content: '\EACA'

.icon-org-medal:before
  content: '\EACB'

.icon-org-money:before
  content: '\EACC'

.icon-org-projects:before
  content: '\EACD'

.icon-org-search:before
  content: '\EACE'

.icon-org-user:before
  content: '\EACF'

.icon-org-users:before
  content: '\EAD0'

.icon-org-who:before
  content: '\EAD1'

.icon-outdent:before
  content: '\EAD2'

.icon-palette:before
  content: '\EAD3'

.icon-paperclip:before
  content: '\EAD4'

.icon-pause:before
  content: '\EAD5'

.icon-pen:before
  content: '\EAD6'

.icon-pencil:before
  content: '\EAD7'

.icon-phone:before
  content: '\EAD8'

.icon-picture:before
  content: '\EAD9'

.icon-pin:before
  content: '\EADA'

.icon-pin2:before
  content: '\EADB'

.icon-play:before
  content: '\EADC'

.icon-plus-sign:before
  content: '\EADD'

.icon-plus:before
  content: '\EADE'

.icon-post-forbidden:before
  content: '\EADF'

.icon-post:before
  content: '\EAE0'

.icon-pre:before
  content: '\EAE1'

.icon-processon:before
  content: '\EAE2'

.icon-project:before
  content: '\EAE3'

.icon-pull-request:before
  content: '\EAE4'

.icon-putback-right:before
  content: '\EAE5'

.icon-putback:before
  content: '\EAE6'

.icon-qq:before
  content: '\EAE7'

.icon-qrcode:before
  content: '\EAE8'

.icon-question:before
  content: '\EAE9'

.icon-quit:before
  content: '\EAEA'

.icon-quit2:before
  content: '\EAEB'

.icon-quote:before
  content: '\EAEC'

.icon-refresh:before
  content: '\EAED'

.icon-remove-link:before
  content: '\EAEE'

.icon-remove:before
  content: '\EAEF'

.icon-repeat:before
  content: '\EAF0'

.icon-review:before
  content: '\EAF1'

.icon-rich-text:before
  content: '\EAF2'

.icon-rss:before
  content: '\EAF3'

.icon-sale:before
  content: '\EAF4'

.icon-scanning:before
  content: '\EAF5'

.icon-search-member:before
  content: '\EAF6'

.icon-search-text:before
  content: '\EAF7'

.icon-search-warning:before
  content: '\EAF8'

.icon-search:before
  content: '\EAF9'

.icon-share:before
  content: '\EAFA'

.icon-sharp-down:before
  content: '\EAFB'

.icon-sharp-down2:before
  content: '\EAFC'

.icon-sharp-up:before
  content: '\EAFD'

.icon-sharp-up2:before
  content: '\EAFE'

.icon-sharp:before
  content: '\EAFF'

.icon-slice:before
  content: '\EB00'

.icon-sort-by-time:before
  content: '\EB01'

.icon-sort-by-unread:before
  content: '\EB02'

.icon-spread:before
  content: '\EB03'

.icon-stage:before
  content: '\EB04'

.icon-stamp:before
  content: '\EB05'

.icon-star-stroke:before
  content: '\EB06'

.icon-star:before
  content: '\EB07'

.icon-start-date:before
  content: '\EB08'

.icon-state-check:before
  content: '\EB09'

.icon-state-official:before
  content: '\EB0A'

.icon-state-other:before
  content: '\EB0B'

.icon-state-top:before
  content: '\EB0C'

.icon-state:before
  content: '\EB0D'

.icon-strike-through:before
  content: '\EB0E'

.icon-switch:before
  content: '\EB0F'

.icon-t:before
  content: '\EB10'

.icon-table:before
  content: '\EB11'

.icon-tag-reverse:before
  content: '\EB12'

.icon-tag:before
  content: '\EB13'

.icon-talk:before
  content: '\EB14'

.icon-talkai:before
  content: '\EB15'

.icon-team-briefcase:before
  content: '\EB16'

.icon-team-building:before
  content: '\EB17'

.icon-team-bulb:before
  content: '\EB18'

.icon-team-bus:before
  content: '\EB19'

.icon-team-calculator:before
  content: '\EB1A'

.icon-team-camera:before
  content: '\EB1B'

.icon-team-compass:before
  content: '\EB1C'

.icon-team-flag:before
  content: '\EB1D'

.icon-team-graph:before
  content: '\EB1E'

.icon-team-location:before
  content: '\EB1F'

.icon-team-loudspeaker:before
  content: '\EB20'

.icon-team-medal:before
  content: '\EB21'

.icon-team-notebook:before
  content: '\EB22'

.icon-team-pen:before
  content: '\EB23'

.icon-team-stamp:before
  content: '\EB24'

.icon-team-talk:before
  content: '\EB25'

.icon-team-terminal:before
  content: '\EB26'

.icon-team-tie:before
  content: '\EB27'

.icon-terminal:before
  content: '\EB28'

.icon-text-file:before
  content: '\EB29'

.icon-th:before
  content: '\EB2A'

.icon-tick-thin:before
  content: '\EB2B'

.icon-tick:before
  content: '\EB2C'

.icon-tie:before
  content: '\EB2D'

.icon-top-up:before
  content: '\EB2E'

.icon-trash:before
  content: '\EB2F'

.icon-travel:before
  content: '\EB30'

.icon-turn-left:before
  content: '\EB31'

.icon-turn-right:before
  content: '\EB32'

.icon-twitter:before
  content: '\EB33'

.icon-ul-sort:before
  content: '\EB34'

.icon-ul:before
  content: '\EB35'

.icon-unarchive:before
  content: '\EB36'

.icon-unassigned:before
  content: '\EB37'

.icon-underline:before
  content: '\EB38'

.icon-unlock:before
  content: '\EB39'

.icon-unordered-list:before
  content: '\EB3A'

.icon-update-file:before
  content: '\EB3B'

.icon-upload-file:before
  content: '\EB3C'

.icon-upload:before
  content: '\EB3D'

.icon-user:before
  content: '\EB3E'

.icon-users:before
  content: '\EB3F'

.icon-video:before
  content: '\EB40'

.icon-wall:before
  content: '\EB41'

.icon-warning:before
  content: '\EB42'

.icon-wechat:before
  content: '\EB43'

.icon-weibo:before
  content: '\EB44'

.icon-window-min:before
  content: '\EB45'

.icon-wps:before
  content: '\EB46'

.icon-xiaomi:before
  content: '\EB47'

.icon-zendesk:before
  content: '\EB48'

.icon-zhihu:before
  content: '\EB49'

.icon-zoom-in:before
  content: '\EB4A'

.icon-zoom-out:before
  content: '\EB4B'
